textarea {
  height: 100%;
  width: 100%;

  resize: none;
  box-sizing: border-box;
    
  white-space: pre;    
  overflow-wrap: normal;

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 14px;
  color: lightgrey;

  background-color: rgba(50, 54, 73, 0.5);
  border: 1px solid black;
  border-radius: 5px;
  
  padding: 10px;
}
textarea:focus {
  outline: none;
  color: lightblue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
  background-color: rgb(50, 54, 73);
}
